@import "tailwindcss";

@font-face {
    font-family: Albert_Sans_Medium;
    src: url("../src/assets/Albert_Sans/static/AlbertSans-Medium.ttf");
}

@font-face {
    font-family: Albert_Sans_Light;
    src: url("../src/assets/Albert_Sans/static/AlbertSans-Light.ttf");
}

@font-face {
    font-family: Albert_Sans_Bold;
    src: url("../src/assets/Albert_Sans/static/AlbertSans-Bold.ttf")
}

@theme {
    --font-albertsansmedium: Albert_Sans_Medium, "sans-serif";
    --font-albertsanslight: Albert_Sans_Light, "sans-serif";
    --font-albertsansbold: Albert_Sans_Bold, "sans-serif";
    --color-accent: #145c93;
    --color-offblack: #051014;
    --color-background: #e3e6f0;
    --color-offwhite: #fafafa;
    --color-goodgreen: #519872;
    --color-badred: #db5461;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;  
}

