@import "tailwindcss";

@font-face {
    font-family: Albert_Sans;
    src: url("../src/assets/Albert_Sans/static/AlbertSans-Black.ttf");
}

@theme {
    --font-albertsans: Albert_Sans, "sans-serif";
    --color-accent: #145c93;
    --color-offblack: #051014;
    --color-background: #e3e6f0;
    --color-offwhite: #fafafa;
    --color-goodgreen: #519872;
    --color-badred: #db5461;
}

